@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Germania+One&family=Grenze+Gotisch:wght@100..900&display=swap');

:root {
  font-family: "Bellefair", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 512px;
  min-height: 100vh;
}

button {
  font-family: "Bellefair", serif;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #333;
  cursor: pointer;
  transition: border-color 0.25s;
  display: inline-flex;
  gap: 10px;
  text-align: left;
  width: 300px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Grenze Gotisch", serif;
}

.description {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  line-height: normal;
}

button img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #222;
}

button:hover {
  border-color: #ff7;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 5px;
}

#app {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  min-width: 512px;
}

h1 {
  font-weight: 600;
  font-family: "Grenze Gotisch", serif;
  font-size: 30px;
}

p {
  margin: 10px 0;
}
