@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Grenze+Gotisch:wght@100..900&display=swap');

@font-face {
  font-family: "Germania One";
  src: url("./assets/GermaniaOne-Regular-Tabular.woff") format('woff');
}

:root {
  -webkit-user-drag: none;
  font-family: "Bellefair", serif;
  line-height: 1.5;
  font-weight: 400;
  scrollbar-gutter: stable both-edges;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 512px;
  min-height: 100vh;
}

strong {
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 0.85em;
}

button {
  font-family: "Bellefair", serif;
  border-radius: 8px;
  border: 1px solid transparent;
  position: relative;
  padding: 10px;
  padding-bottom: 15px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #333;
  cursor: pointer;
  transition: border-color 0.25s;
  display: inline-flex;
  gap: 10px;
  text-align: left;
  width: 300px;
  box-sizing: border-box;
  margin: 5px;
  user-select: none;
}

button.can-hold {
  touch-action: none;
}

button[disabled],
button.disabled {
  border-color: transparent !important;
}

.title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Grenze Gotisch", serif;
  line-height: 1em;
}

.description {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  line-height: normal;

  i {
    color: #edb;
  }
}

.callout {
  background: black;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin-top: 20px;
  border-radius: 8px;

  .description {
    padding: 10px 20px;
  }

  img.friend {
    width: 100px;
    margin-top: -20px;
    align-self: flex-start;
  }
}

img.friend {
  width: 200px;
  mix-blend-mode: lighten;
  margin-top: -45px;
}

button img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #222;
  pointer-events: none;
}

button:hover {
  border-color: #ff7;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 5px;
}

#app {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  min-width: 512px;
}

h1 {
  font-weight: 600;
  font-family: "Grenze Gotisch", serif;
  font-size: 30px;
  line-height: 1em;
}

p {
  margin: 10px 0;
}

p:first-child {
  margin-top: 5px;
}

p:last-child {
  margin-bottom: 0;
}

.numbers {
  font-family: "Germania One", system-ui;
  font-variant-numeric: tabular-nums;
}

.resource-icon {
  width: 1.4em;
  height: 1.4em;
  border: 0;
  margin-left: -0.2em;
  vertical-align: middle;
}

u {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.blur-images img,
.blur-images .map-backdrop {
  filter: blur(7px) !important;
  transition: filter 0.3s ease-in-out;
}

.tag {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 1px;
  margin: 2px;
  border: 1px dotted oklch(0.6 0 0);
  box-sizing: border-box;
}

.tag.fire {
  border: none;
  border-radius: 50% 50% 1px 1px;
  background-color: oklch(0.6 0.15 30);
}

.tag.ice {
  border: none;
  background-color: oklch(0.8 0.15 240);
}

.tag.water {
  border: none;
  border-radius: 1px 1px 50% 50%;
  background-color: oklch(0.6 0.15 240);
}

.tag.ranged {
  border: 1px solid oklch(0.9 0 0);
  border-radius: 50%;
  background-color: oklch(0.6 0.15 50);
}

.tag.sharp {
  border: none;
  transform: rotate(-45deg);
  border-radius: 50% 1px 50% 1px;
  background-color: oklch(0.7 0.05 240);
}

.tag.blunt {
  border: none;
  border-radius: 1px 50% 50% 1px;
  background-color: oklch(0.6 0.1 50);
}

.tag.poison {
  border: none;
  border-radius: 1px 1px 50% 50%;
  background-color: oklch(0.6 0.15 150);
}

.tag.dark {
  border: 1px solid oklch(0.3 0.15 100);
  border-radius: 50%;
  background-color: oklch(0 0.15 100);
}

.tag.light {
  border: 1px solid oklch(0.9 0.15 50);
  border-radius: 50%;
  background-color: oklch(1 0.15 100);
}

.tag.bite {
  border: none;
  border-top: 1px dotted oklch(0.9 0 0);
  border-bottom: 1px dotted oklch(0.9 0 0);
  background-color: oklch(0.6 0.15 30);
}

.tag.sound {
  border: 1px solid oklch(0.6 0.15 190);
  border-right: none;
  border-radius: 50% 1px 1px 50%;
}

.tag.sand {
  border: 0;
  background-color: oklch(0.9 0.15 50);
  border-radius: 50% 50% 1px 1px;
  height: 4px;
}

.tag.undodgeable {
  border: none;
  width: 3px;
  height: 3px;
  margin: 3px;
  border-radius: 50%;
  background-color: oklch(0.6 0 0);
}
